<header class="header" role="banner">
  <h1 class="header__title">
    <a class="site__title" title="{{@site.title}}" href='{{@site.url}}'>{{@site.title}}</a>
  </h1>
  {{#if @site.twitter}}
    <span class="header__subtitle"> by&nbsp;<a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank">{{@site.twitter}}</a></span>
  {{else}}
    <span class="header__subtitle"> {{@site.description}}</span>
  {{/if}}
  <nav class="header__nav" role="navigation">
    {{navigation}}
  </nav>
</header>